<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Dic Word'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="dicWords index large-9 medium-8 columns content">
    <h3><?= __('Dic Words') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('word') ?></th>
                <th scope="col"><?= $this->Paginator->sort('signature') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($dicWords as $dicWord): ?>
            <tr>
                <td><?= $this->Number->format($dicWord->id) ?></td>
                <td><?= h($dicWord->word) ?></td>
                <td><?= h($dicWord->signature) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $dicWord->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $dicWord->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $dicWord->id], ['confirm' => __('Are you sure you want to delete # {0}?', $dicWord->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
